.app {
  max-width: 380px;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #fff;
  font-size: 2rem;
}

h2 {
  color: #fff;
  font-size: 1.5em;
}

.chakra-card {
  background-color: white;
  text-align: left;
}
